$color-neutral-0: #ffffff;
$color-neutral-100: #f6f6f9;
$color-neutral-1000: #181826;
$color-neutral-150: #eaeaef;
$color-neutral-200: #dcdce4;
$color-neutral-300: #c0c0cf;
$color-neutral-400: #a5a5ba;
$color-neutral-500: #8e8ea9;
$color-neutral-600: #666687;
$color-neutral-700: #4a4a6a;
$color-neutral-800: #32324d;
$color-neutral-900: #212134;
$color-alternative-100: #f6ecfc;
$color-alternative-200: #e0c1f4;
$color-alternative-500: #ac73e6;
$color-alternative-600: #9736e8;
$color-alternative-700: #8312d1;
$color-button-neutral-0: #ffffff;
$color-primary-100: #f0f0ff;
$color-primary-200: #d9d8ff;
$color-primary-500: #7b79ff;
$color-primary-600: #4945ff;
$color-primary-700: #271fe0;
$color-secondary-100: #eaf5ff;
$color-secondary-200: #b8e1ff;
$color-secondary-500: #66b7f1;
$color-secondary-600: #0c75af;
$color-secondary-700: #006096;
$color-button-primary-500: #7b79ff;
$color-button-primary-600: #4945ff;
$color-success-100: #eafbe7;
$color-success-200: #c6f0c2;
$color-success-500: #5cb176;
$color-success-600: #328048;
$color-success-700: #2f6846;
$color-warning-100: #fdf4dc;
$color-warning-200: #fae7b9;
$color-warning-500: #f29d41;
$color-warning-600: #d9822f;
$color-warning-700: #be5d01;
$color-danger-100: #fcecea;
$color-danger-200: #f5c0b8;
$color-danger-500: #ee5e52;
$color-danger-600: #d02b20;
$color-danger-700: #b72b1a;
$font-primary: 'Montserrat Alternates', sans-serif;
$font-secondary: 'Noto Serif Display', serif;
$grid-columns: 12;
$grid-size: 1fr;
$grid-gap: 20px;
$media-query-xs: 0;
$media-query-sm: 768;
$media-query-md: 1024;
$media-query-lg: 1440;
$media-query-xl: 1600;

:root {
  --color-neutral-0: #{$color-neutral-0};
  --color-neutral-100: #{$color-neutral-100};
  --color-neutral-1000: #{$color-neutral-1000};
  --color-neutral-150: #{$color-neutral-150};
  --color-neutral-200: #{$color-neutral-200};
  --color-neutral-300: #{$color-neutral-300};
  --color-neutral-400: #{$color-neutral-400};
  --color-neutral-500: #{$color-neutral-500};
  --color-neutral-600: #{$color-neutral-600};
  --color-neutral-700: #{$color-neutral-700};
  --color-neutral-800: #{$color-neutral-800};
  --color-neutral-900: #{$color-neutral-900};
  --color-alternative-100: #{$color-alternative-100};
  --color-alternative-200: #{$color-alternative-200};
  --color-alternative-500: #{$color-alternative-500};
  --color-alternative-600: #{$color-alternative-600};
  --color-alternative-700: #{$color-alternative-700};
  --color-button-neutral-0: #{$color-button-neutral-0};
  --color-primary-100: #{$color-primary-100};
  --color-primary-200: #{$color-primary-200};
  --color-primary-500: #{$color-primary-500};
  --color-primary-600: #{$color-primary-600};
  --color-primary-700: #{$color-primary-700};
  --color-secondary-100: #{$color-secondary-100};
  --color-secondary-200: #{$color-secondary-200};
  --color-secondary-500: #{$color-secondary-500};
  --color-secondary-600: #{$color-secondary-600};
  --color-secondary-700: #{$color-secondary-700};
  --color-button-primary-500: #{$color-button-primary-500};
  --color-button-primary-600: #{$color-button-primary-600};
  --color-success-100: #{$color-success-100};
  --color-success-200: #{$color-success-200};
  --color-success-500: #{$color-success-500};
  --color-success-600: #{$color-success-600};
  --color-success-700: #{$color-success-700};
  --color-warning-100: #{$color-warning-100};
  --color-warning-200: #{$color-warning-200};
  --color-warning-500: #{$color-warning-500};
  --color-warning-600: #{$color-warning-600};
  --color-warning-700: #{$color-warning-700};
  --color-danger-100: #{$color-danger-100};
  --color-danger-200: #{$color-danger-200};
  --color-danger-500: #{$color-danger-500};
  --color-danger-600: #{$color-danger-600};
  --color-danger-700: #{$color-danger-700};
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --grid-columns: #{$grid-columns};
  --grid-size: #{$grid-size};
  --grid-gap: #{$grid-gap};
  --media-query-xs: #{$media-query-xs};
  --media-query-sm: #{$media-query-sm};
  --media-query-md: #{$media-query-md};
  --media-query-lg: #{$media-query-lg};
  --media-query-xl: #{$media-query-xl};
}
  